body{
    background-color: #DEF5E5;
    margin: 0px;
    text-align: center;
}

h1{
    margin: 0 auto;
    color: #2a8d69;
    font-family: 'Sacramento', sans-serif;
    font-size: 3.125rem;
}

h2{
    font-family: 'Poppins', sans-serif;
    color: #61d4b4;
 }

 h3{
    color: #61d4b4;
    font-family: 'Poppins', sans-serif;
}

.pro{
    margin: 17px auto 60px auto;
    color: #36916f;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
}

p{
    margin: 20px auto 5px auto;
    color: black;
    font-family: 'Montserrat', sans-serif;
}


hr{
   border: dotted 5px;
   border-bottom: none;
   width: 70px;
   color:#c0f1cf ;
}
.top-container {
    background-color: #70edc9;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
    position: relative;
    padding-top: 100px;
    line-height: 2;
}

.mountain{
    width: 900px;
    height: 500px;
    margin: 0 auto;
}

.btm-cloud{
    width: 300;
    height: 150px;
    position: absolute;
    bottom: 100px;
    right: 230px;
}

.top-cloud{
    width: 300;
    height: 150px;
    position: absolute;
    top: 100px;
    left: 350px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    padding: 20px;
}

.icon-1{
   width: 20%;
   float: left;
   margin-right: 30px;
}

.icon-2{
    width: 20%;
    float: right;
   margin-left: 30px;
 }
 

 .profile{
    width: 50%;
    margin: 70px auto 70px auto;
    line-height: 2;
 }

 .pfp{
    border-radius: 100px;
    width: 20%;
    
 }

 .skills{
    padding: 50px;
 }

.contact-me{
    line-height: 3;
    margin: 40px auto 50px auto;
}

.btn {
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family:'Montserrat', sans-serif ;
    color: #ffffff;
    font-size: 23px;
    background: #67dbba;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #ffffff;
    text-decoration: none;
    color: #70edc9;
  }

  .bottom-container{
    height: 100px;
    background-color: #70edc9;
    padding: 50px 0 40px;
    text-decoration: none;
    line-height: 2;
  }

  .footer-link{
    color:#0fc994 ;
    text-decoration: solid;
    font-family:'Montserrat', sans-serif;
    margin: auto 30px 20px 30px ;
    font-size: large;
  }

  .footer-link:hover{
    color: #ffffff;
  }

  .intro{
    width: 50%;
  }

  .hu{
    margin-bottom: 40px;
  }

  .copy{
    margin: 30px auto 0 auto;
  }